body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    line-height: 1.6;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 800px;
    max-height: 80vh;
    overflow-y: auto;
    text-align: center;
}

.logo-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 150px;
    max-height: 100px;
    object-fit: contain;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 i {
    margin-right: 15px;
    color: #4DAAB3;
}

.downloads-header {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #4DAAB3;
}

.file-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
}

.file-grid a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #4DAAB3;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.file-grid a:hover {
    background-color: #2980b9;
}

.file-grid a i {
    margin-right: 10px;
    color: #2ecc71;
}

.back-button {
    margin-top: 20px;
}

.back-button a {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.back-button a:hover {
    background-color: #27ae60;
}

.file-input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.file-input-wrapper input[type="file"] {
    position: absolute;
    left: -9999px;
}

.file-input-wrapper label {
    display: block;
    padding: 10px 15px;
    background-color: #4DAAB3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-input-wrapper label:hover {
    background-color: #2980b9;
}

.file-input-wrapper .file-name {
    margin-top: 10px;
    color: #7f8c8d;
}

input[type="submit"] {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #27ae60;
}