<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel and XML Template Uploader</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='git_icon.png') }}" alt="Company Logo" class="logo">
        </div>
        <h1>
            Upload Excel and XML Template
        </h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="file-input-wrapper">
                <input type="file" id="excelFile" name="excelFile" accept=".xls,.xlsx"
                    onchange="updateFileName(this, 'excelFileName')">
                <label for="excelFile">
                    <i class="fas fa-file-excel"></i> Choose Excel File
                </label>
                <div id="excelFileName" class="file-name">No file chosen</div>
            </div>

            <div class="file-input-wrapper">
                <input type="file" id="xmlTemplate" name="xmlTemplate" accept=".xml"
                    onchange="updateFileName(this, 'xmlFileName')">
                <label for="xmlTemplate">
                    <i class="fas fa-file-code"></i> Choose XML Template
                </label>
                <div id="xmlFileName" class="file-name">No file chosen</div>
            </div>

            <input type="submit" value="Upload Files">
        </form>
    </div>

    <script>
        function updateFileName(input, displayId) {
            const fileName = input.files.length > 0 ? input.files[0].name : 'No file chosen';
            document.getElementById(displayId).textContent = fileName;
        }
    </script>
</body>

</html>