{% extends "base.html" %}
{% block content %}
<div class="logo-container">
    <img src="{{ url_for('static', filename='git_icon.png') }}" alt="Company Logo" class="logo">
</div>
<h1>Upload Excel and XML Template</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <div class="file-input-wrapper">
        <input type="file" id="excelFile" name="excelFile" accept=".xls,.xlsx"
            onchange="updateFileName(this, 'excelFileName')">
        <label for="excelFile"><i class="fas fa-file-excel"></i> Choose Excel File</label>
        <div id="excelFileName" class="file-name">No file chosen</div>
    </div>

    <div class="file-input-wrapper">
        <input type="file" id="xmlTemplate" name="xmlTemplate" accept=".xml"
            onchange="updateFileName(this, 'xmlFileName')">
        <label for="xmlTemplate"><i class="fas fa-file-code"></i> Choose XML Template</label>
        <div id="xmlFileName" class="file-name">No file chosen</div>
    </div>

    <input type="submit" value="Upload Files">
</form>

<script>
    function updateFileName(input, displayId) {
        document.getElementById(displayId).textContent = input.files[0]?.name || "No file chosen";
    }
</script>
{% endblock %}